<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>

<body>
<h1>People page</h1>
<h2>All people:</h2>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<hr/>
<h2>Other actions:</h2>
<form th:action="@{/people/new}" method="get">
    <button type="submit">Create new person</button>
</form>

</body>
</html>